= form_with(model: [@device, link], local: true, builder: BulmaFormBuilder::FormBuilder) do |form|
  - if link.errors.any?
    #error_explanation
      %h2
        = pluralize(link.errors.count, "error")
        prohibited this link from being saved:
      %ul
        - link.errors.full_messages.each do |message|
          %li= message
  .columns
    #from-link.column.is-5
      -#= hidden_field device_id: @device.
      .field
        = form.label :name
        = form.text_field :name
      .field
        = form.label :kind
        .field.has-addons
          %p.control
            %span.select
              = form.select :other_kind, Link.pluck(:kind).uniq.compact, prompt: 'Select (or create new->)'
          %p.control.is-expanded
            = form.text_field :kind
      .field
        = form.label :slot_this_end
        - if params[:slot]
          = form.text_field :slot_one_end, help: 'the slot on this end', icon_left: 'fa fa-ethernet', readonly: 'readonly'
        - else
          = form.text_field :slot_one_end, help: 'the slot on this end', icon_left: 'fa fa-ethernet'
    #whitespace.column.is-2
    #to-link.column.is-5
      .field
        = form.label :other_end_device
        .field.has-addons
          %p.control
            %span.select
              = form.collection_select :other_end_device_id, Device.where.not(id: @device.id), :id, :name, prompt: 'select a device (or create new->)'
          %p.control.is-expanded
            = form.text_field :other_end_device
          %p.control
            = form.text_field :slot_other_end, placeholder: "slot number"
        %p.help.is-danger
          Either select a location or a device
      .field
        = form.label :other_end_location
        .field.has-addons
          %p.control
            %span.select
              = form.collection_select :other_end_location_id, Location.all, :id, :name, prompt: 'select a location (or create new->)'
          %p.control.is-expanded
            = form.text_field :other_end_location
        %p.help.is-danger
          Either select a location or a device
      -#.field
      -#  = form.label :slot_other_end
      -#  = form.text_field :slot_other_end, icon_left: 'fa fa-ethernet', help: 'the slot on the other end (if applicable)'
      -#.field
      -#  = form.label :other_end_location
  .actions
    = form.submit class: "button is-primary"
