%p#notice= notice
%h1 Links
%table
  %thead
    %tr
      %th Name
      %th One End
      %th Other End
      %th{:colspan => "3"}
  %tbody
    - @links.each do |link|
      %tr
        %td= link.name
        %td
          link.location_id
        %td= link_to 'Show', [@device, link]
        %td= link_to 'Edit', edit_device_link_path(@device, link)
        %td= link_to 'Destroy', device_link_path(@device, link), method: :delete, data: { confirm: 'Are you sure?' }
%br/
-#= link_to 'New Link', new_link_path
