%h1.title New Link from #{@device.name} (#{@device.location&.name})

= render 'form', device: @device, link: @link

.level
  .level-left
  .level-right
    = link_to @device, class: 'button is-danger' do
      = t('abort back to device')
