-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%h1.title New Link from #{@device.name} (#{@device.location&.name})

= render 'form', device: @device, link: @link

.level
  .level-left
  .level-right
    = link_to @device, class: 'button is-danger' do
      = t('abort back to device')
