%h1.title Dashboard Cabler

%section.devices
  %h2.subtitle
    %span.icon
      %i.fa.fa-server
    = @devices.count
    = Device.model_name.human(count: @devices.count).capitalize

  .columns.is-multiline
    - @devices.each do |device|
      .column.is-2
        = link_to device, class: 'button is-fullwidth' do
          %span.icon.has-text-link
            %i.fa.fa-hdd
          %span.has-text-link
            = device.human_identifier

    .column.is-2
      = link_to new_device_path, class: 'button is-primary is-fullwidth' do
        %span.icon
          %i.fa.fa-plus
        %span
          = t('.new_device')
%br
%section.locations
  %h2.subtitle
    %span.icon
      %i.fa.fa-globe
    = @locations.count
    = Location.model_name.human(count: @locations.count).capitalize

  .columns.is-multiline
    - @locations.each do |location|
      .column.is-2

        = link_to location, class: 'button is-fullwidth' do
          %span.icon.has-text-link
            %i.fa.fa-map-marker
          %span.has-text-link
            = location.name

    .column.is-2
      = link_to new_location_path, class: 'button is-primary is-fullwidth' do
        %span.icon
          %i.fa.fa-plus
        %span
          = t('.new_location')
