%h1.title Dashboard Cabler

%h2.subtitle
  #{@devices.count} Devices

.columns.is-multiline
  - @devices.each do |device|
    .column.is-2
      .box
        = link_to device.name, device
  .column.is-2
    .box
      = link_to 'new device', new_device_path

%h2.subtitle
  #{@locations.count} Locations

.columns.is-multiline
  - @locations.each do |location|
    .column.is-2
      .box
        = link_to location.name, location
  .column.is-2
    .box
      = link_to 'new location', new_location_path
