%table.label-table
  %thead
    %tr.device_head
      %th(colspan=3)
        = @device.human_identifier
    - if @device.url
      %tr.device_head
        %th(colspan=3)
          = @device.url
    %tr.link_head
      %th.own_slot
        Slot
      %th
      %th.target_slot
        to
  %tbody
    - @device.connections.sort_by{|c|c.source_slot.to_i}.each do |connection|
      - if connection.nil?
        %tr
          %td(colspan=3)
      - else
        %tr
          %td.own_slot
            = connection.source_slot
          %td.target_slot
            = connection.target_slot
          %td.target
            = connection.target&.human_identifier || "[#{connection.name}]"
            - if next_connection = connection.next_connection
              (->#{next_connection.target.human_identifier})
              - if next_connection = next_connection.next_connection
                (->#{next_connection.target.human_identifier})

