%table.table.is-fullwidth.is-narrow
  %thead
    %tr
      %th # this end
      %th
      %th # other end
      %th other end
      %th name
      %th
  %tbody
    - @connected_device.connections.sort_by{|c|c.source_slot.to_i}.each do |connection|
      %tr
        %td
          = connection.source_slot
          - if connection.kind.present?
            %small
              (#{connection.kind})
        %td
          %span.icon
            %i.fa.fa-long-arrow-alt-right
          -#%span.icon
          -#  %i.fa.fa-exchange-alt
        %td= connection.target_slot
        %td
          - if target = connection.target
            = link_to target.human_identifier, target
            \
            - if (target.instance_of? Device) && target.kind.present?
              %small
                (#{target.kind})
            - if (target.instance_of? Device) && target.location&.name
              %small
                (#{link_to target.location&.name, target.location})
            - if next_connection = connection.next_connection
              %span.icon.has-text-light
                %i.fa.fa-link
              %span.icon
                %i.fa.fa-arrow-right
              = link_to next_connection.target.human_identifier, next_connection.target
              - if next_connection = next_connection.next_connection
                %span.icon.has-text-light
                  %i.fa.fa-link
                %span.icon
                  %i.fa.fa-arrow-right
                = link_to next_connection.target.human_identifier, next_connection.target

        %td
          = connection.name
        %td.actions.buttons
          = link_to [@device, connection.link], method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' do
            %span.icon
              %i.fa.fa-times
            = t('destroy')
          = link_to edit_device_link_path(@device, connection.link), class: 'button is-warning' do
            %span.icon
              %i.fa.fa-edit
            = t('edit')
    %tr
      %td
        = link_to 'add link', new_device_link_path(@device), class: 'button'
      %td
      %td
      %td
      %td
      %td

