= form_with(model: device, local: true, builder: BulmaFormBuilder::FormBuilder, class: 'box') do |form|
  - if device.errors.any?
    #error_explanation.notification
      %h2
        = pluralize(device.errors.count, "error")
        prohibited this device from being saved:
      %ul
        - device.errors.full_messages.each do |message|
          %li= message
  .columns
    .column.is-5
      .field
        = form.label :name
        = form.text_field :name
      .field
        = form.label :select_kind
        -#.select
        -#  = form.select :other_kind, Device.pluck(:kind).uniq, prompt: 'select kind (or create new >)'
        -#= form.text_field :kind
        .field.has-addons
          %p.control
            %span.select
              = form.select :other_kind, Link.pluck(:kind).uniq.compact, prompt: 'Select (or create new->)'
          %p.control.is-expanded
            = form.text_field :kind
        -# TODO distinct
        -# TODO only when kinds present
      .field
        = form.label :manufacturer
        = form.text_field :manufacturer
      .field
        = form.label :model
        = form.text_field :model
      .field
        = form.label :num_links
        = form.number_field :num_links, help: 'number of ports. If set, will also show empty ports e.g. in labels'
      .field
        .control
          -#= form.label :connector
          = form.check_box :connector, label: :connector
    .column.is-2
    .column.is-5
      - if @location
        = form.hidden_field(:location_id)
      - else
        .field
          = form.label :location_id
          -# TODO only when locations present
          .select
            = form.collection_select :location_id, Location.all, :id, :name, prompt: 'select location (or add new >)'
          - if device.new_record?
            = form.text_field :create_new_location
          -#= form.label :or_new_location
      .field
        = form.label :url
        = form.text_field :url, placeholder: 'https://administration.for/device'
      .field
        = form.label :description
        = form.text_area :description, size: '10'

  .field
    = form.label :images
    = form.file_field :images, multiple: true

  -# show the images
  
  %hr

  .actions
    .level
      .level-item
        = form.submit class: 'button is-primary'
      .level-right
        = link_to :back, class: 'button is-danger is-light' do
          = t('abort')
