= form_with(model: device, local: true) do |form|
  - if device.errors.any?
    #error_explanation.notification
      %h2
        = pluralize(device.errors.count, "error")
        prohibited this device from being saved:
      %ul
        - device.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name, class: :label
    = form.text_field :name
  .field
    = form.label :location_id, class: :label
    .select
      = form.collection_select :location_id, Location.all, :id, :name, prompt: 'select location (or add new >)'
    - if device.new_record?
      = form.text_field :create_new_location
    -#= form.label :or_new_location, class: :label
  .field
    = form.label :select_kind, class: :label
    -# TODO distinct
    .select
      = form.select :other_kind, Device.pluck(:kind).uniq, prompt: 'select kind (or create new >)'
    = form.text_field :kind
  -#.field
  -#  = form.label :kind, class: :label
  .field
    = form.label :manufacturer, class: :label
    = form.text_field :manufacturer
  .field
    = form.label :model, class: :label
    = form.text_field :model
  .field
    = form.label :num_links, class: :label
    = form.number_field :num_links
  .field
    = form.label :description, class: :label
    = form.text_area :description

  .actions
    = form.submit class: 'button is-primary'
