%p#notice= notice

.level
  .level-left
    %h1.title
      %i.fa.fa-server
      Devices
  .level-right
    = link_to new_device_path, class: 'button level-item' do
      %span.icon
        %i.fa.fa-plus
      =t('add device')

%table.table.is-fullwidth.is-striped
  %thead
    %tr
      %th= t('Name')
      %th= t('Location')
      %th= t('model')
      %th= t('Kind')
      %th= t('# links (used)')
      %th{:colspan => "4"}
  %tbody
    - @devices.each do |device|
      %tr
        %td
          = link_to device.human_identifier, device
        %td
          - if device.location
            = link_to device.location.name, device.location
        %td
          = device.manufacturer
          = device.model
        %td= device.kind
        %td
          = device.num_links
          (#{device.links.count})
        %td
          = link_to device, class: 'button is-primary is-small' do
            %span.icon
              %i.fa.fa-eye
            = t('show')
        %td
          = link_to edit_device_path(device), class: 'button is-primary is-small' do
            %span.icon
              %i.fa.fa-edit
            = t('edit')
        %td
          = link_to device, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger is-small' do
            %span.icon
              %i.fa.fa-times
            = t('destroy')
        %td
          = link_to device_label_path(device), class: 'button is-dark is-small' do
            %span.icon
              %i.fas.fa-tags
            %span Label
%br/

= link_to new_device_path, class: 'button has-text-link' do
  %span.icon
    %i.fa.fa-plus
  =t('add device')