%p#notice= notice
%h1.title Devices
%table.table.is-fullwidth
  %thead
    %tr
      %th= t('Name')
      %th= t('Location')
      %th= t('model')
      %th= t('Kind')
      %th= t('# links (used)')
      %th{:colspan => "4"}
  %tbody
    - @devices.each do |device|
      %tr
        %td
          = link_to device.human_identifier, device
        %td
          - if device.location
            = link_to device.location.name, device.location
        %td
          = device.manufacturer
          = device.model
        %td= device.kind
        %td
          = device.num_links
          (#{device.links.count})
        %td
          = link_to device, class: 'button is-link' do
            = t('show')
        %td
          = link_to edit_device_path(device), class: 'button is-primary' do
            = t('edit')
        %td
          = link_to device, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-dark' do
            = t('destroy')
        %td
          = link_to device_label_path(device), class: 'button' do
            %span.icon
              %i.fas.fa-tags
            Label
%br/

= link_to 'New Device', new_device_path, class: 'button'
