.level
  .level-left
    %h1.title
      %i.fa.fa-server
      = @device.human_identifier
  .level-right
    = link_to edit_device_path(@device), class: 'button level-item' do
      %span.icon
        %i.fa.fa-edit
      =t('edit')

.columns
  .column
    %h2.subtitle Properties
    - if @device.location
      %p
        %strong Location:
        %i.fa.fa-globe
        = link_to @device.location.name, @device.location
    - if @device.kind.present?
      %p
        %strong Kind:
        = @device.kind
    - if @device.description.present?
      %p
        %strong Description:
        = @device.description
    - if @device.num_links.present?
      %p
        %strong Number Links:
        = @device.num_links
    - if @device.model.present?
      %p
        %strong Model:
        = @device.model
    - if @device.manufacturer.present?
      %p
        %strong Manufacturer:
        = @device.manufacturer
    - if @device.url.present?
      %p
        %strong URL
        = link_to @device.url, @device.url, target: '_new'
  .column
    - if @device.images
      %h2.subtitle Images
      .columns
        .column
          - @device.images.each do |image|
            = link_to url_for(image), target: '_new' do
              %figure
                = image_tag image.variant(resize_to_fill: [140, 140]).processed
              = image.filename
      = link_to 'Add image', '', class: 'button'


-#- @connected_device.connections.each do |connection|
-#  = render partial: 'links/link_tag', locals: {connection: connection}

- if @device.num_links.to_i > 0
  = render partial: 'horizontal_port_table'

%br

%br
%h2.subtitle
  %i.fa.fa-network-wired
  #{@device.links.count} Links
- if @device.connector?
  = render partial: 'connections/connector_table', locals: {connections: @connected_device.connections}
- else
  = render partial: 'connections/table', locals: {connections: @connected_device.connections}

.level
  .level-left
    = link_to edit_device_path(@device), class: 'button is-primary' do
      %span.icon
        %i.fa.fa-edit
      = t('edit')
  .level-right
    = link_to device_label_path(@device), class: 'button is-dark' do
      %span.icon
        %i.fa.fa-tags
      =t('show label')
