- if notice
  %p#notice.notification= notice

%h1.title
  = @device.name

%p
  %strong Location:
  - if @device.location
    = link_to @device.location.name, @device.location
%p
  %strong Kind:
  = @device.kind
%p
  %strong Description:
  = @device.description
%p
  %strong Number Links:
  = @device.num_links
%p
  %strong Model
  = @device.model
%p
  %strong Manufacturer
  = @device.manufacturer

- if @device.num_links.to_i > 0
  %table
    %thead
      %tr
        - (1..@device.num_links).each do |idx|
          %th
            = idx
    %tbody
      %tr
        - (1..@device.num_links).each do |idx|
          %td
            show/add
%br
%h2.subtitle #{@device.links.count} Links
%table.table.is-fullwidth
  %thead
    %tr
      %th name
      %th # this end
      %th
      %th # other end
      %th other end
      %th
      %th
  %tbody
    - @device.links.find_each do |link|
      -# Will be: from this port: to ... other port other device/location
      - this_end = (link.one_end == @device) ? @device : link.other_end
      - this_slot = (link.one_end == @device) ? link.slot_one_end : link.slot_other_end
      - other_end = (link.other_end == @device) ? @device : link.other_end
      - other_end_slot = (link.one_end == @device) ? link.slot_other_end : link.slot_one_end

      %tr
        %td
          = link.name
          - if link.kind.present?
            %small
              (#{link.kind})
        %td= this_slot
        %td ->
        %td= other_end_slot
        %td
          - if other_end
            = link_to other_end.name, other_end
            \
            - if other_end.kind.present?
              %small
                (#{other_end.kind})
            - if other_end.location&.name
              %small
                (#{other_end.location&.name})
        %td
          = link_to 'Destroy', [@device, link], method: :delete, data: { confirm: 'Are you sure?' }
          = link_to 'edit', edit_device_link_path(@device, link)
    

= link_to 'Edit', edit_device_path(@device)
|
= link_to 'Create Link', new_device_link_path(@device)
|
= link_to 'Show Label', device_label_path(@device)
|
= link_to 'Back', devices_path
