.section
  %h2.title.is-3.has-text-centered.has-text-dark Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      %p.control.has-icons-left
        = f.email_field :email, autofocus: true, autocomplete: "email", :class => "input", :placeholder => "Email"
        %span.icon.is-small.is-left
          %i.fas.fa-envelope

    .field
      %p.control.has-icons-left
        = f.password_field :password, autocomplete: "current-password", :class => "input", :placeholder => "Password"
        %span.icon.is-small.is-left
          %i.fas.fa-lock

    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        &nbsp;
        = f.label :remember_me
    .actions.has-text-centered
      = f.submit "Log in", :class => "button is-primary is-fullwidth"
    %br/
  = render "devise/shared/links"
