.footer-container
  .footer.has-background-dark.has-text-white
    .level
      .level-item
        = link_to "https://github.com/ecovillage/cabler", target: "_blank", rel: "nofollow", class: 'link is-light' do
          %span.icon
            %i.fab.fa-github
          %span Code on Github
        = link_to "https://github.com/ecovillage/cabler/issues", target: "_blank", rel: "nofollow", class: 'is-light' do
          %span | report an issue
      .level-item
        = link_to changelog_path, class: 'has-text-white' do
          Cabler
          = Cabler::Application::VERSION
      .level-item
        .is-light
          %span.icon
            %i.fa.fa-handshake
          %i most code
          = image_tag 'agpl.png', style: 'height: 1.5rem'
