%nav.navbar.is-dark.is-spaced{"aria-label" => "main navigation", :role => "navigation"}
  .navbar-brand
    %a.navbar-item{:href => "https://bulma.io"}
      %img{:height => "28", :src => "", :width => "112"}/
    %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "cablerNavbar", :role => "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #cablerNavbar.navbar-menu
    .navbar-start
      = link_to t('Home'), root_path, class: 'navbar-item'
      = link_to devices_path, class: 'navbar-item' do
        %span.icon
          %i.fa.fa-server
        = t('Devices')
      = link_to locations_path, class: 'navbar-item' do
        %span.icon
          %i.fa.fa-globe
        = t('Locations')
      = link_to topology_path, class: 'navbar-item' do
        %span.icon
          %i.fa.fa-vector-square
        = t('Topology')
    .navbar-end
      .navbar-item
        .buttons
          - if user_signed_in?
            = link_to t('sessions.destroy.sign_out'), destroy_user_session_path, method: :delete, class: "button is-dark"
          - else
            = link_to t('devise.sessions.new.sign_in'), new_user_session_path, class: 'button'
