= form_with(model: location, local: true, builder: BulmaFormBuilder::FormBuilder, class: 'box') do |form|
  - if location.errors.any?
    #error_explanation.notification.is-danger
      %h2
        = pluralize(location.errors.count, "error")
        prohibited this location from being saved:
      %ul
        - location.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name, placeholder: 'Name of location'

  .field
    = form.label :images, class: 'file-label'
    = form.file_field :images, multiple: true

  -# Will only work nicely with javascript
  -#.file.has-name.is-fullwidth
  -#  %label.file-label
  -#    %input.file-input{type:"file", multiple: 'multiple', name:"location[images][]"}
  -#    %span.file-cta
  -#      %span.file-icon
  -#        %i.fas.fa-upload
  -#      %span.file-label
  -#        Choose a file
  -#    %span.file-name

  .field
    = form.label :parent
    = form.collection_select :parent_id, Location.where.not(id: @location.id), :id, :human_identifier, prompt: 'select a parent locatation'

  .actions
    .level
      .level-item
        = form.submit(class: "button is-primary")
      .level-right
        = link_to :back, class: 'button is-danger is-light' do
          = t('abort')
