= form_with(model: location, local: true) do |form|
  - if location.errors.any?
    #error_explanation
      %h2
        = pluralize(location.errors.count, "error")
        prohibited this location from being saved:
      %ul
        - location.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name, class: :label
    = form.text_field :name

  .actions
    = form.submit(class: "button is-primary")
