.level
  .level-left
    %h1.title
      %i.fa.fa-globe
      Locations
  .level-right
    = link_to new_location_path, class: 'button level-item' do
      %span.icon
        %i.fa.fa-plus
      =t('add location')

#locations.columns.is-multiline
  - @locations.each do |location|
    .column.is-one-third
      .card
        %header.card-header
          %p.card-header-title.is-centered
            = link_to location, class: 'is-dark' do
              = location.name
        - if location.images.present?
          .card-image
            %figure.image.is-4by3
              = image_tag location.images.first.variant(resize_to_fill: [320, 240]).processed
        - else
          .card-image
            .container
            %figure.image.is-4by3.fa.has-text-light
              %img.fa.icon{src:'', alt:'&#xf0ac;'.html_safe, style: "font-family: 'Font Awesome 5 Free'; font-size: 19em; display: inline-block; width: 320px; height: 240px;"}
              -#= image_tag '', placeholder: 'none yet'
        .card-content
          .content
            %h5
              = location.devices.count
              = Device.model_name.human(count: location.devices.count).capitalize
            - location.devices.each do |device|
              = device.human_identifier
              %br
            = link_to 'Add device', new_device_path(location_id: location.id), class: :button
        .card-footer
          = link_to 'Edit', edit_location_path(location), class: 'card-footer-item'
          = link_to 'Show', location, class: 'card-footer-item'
          = link_to 'Add device', new_device_path(location_id: location.id), class: 'card-footer-item'
          = link_to 'Delete', location, method: :delete, data: {confirm: 'Are you sure?'}, class: 'has-text-danger card-footer-item'

= link_to 'New Location', new_location_path, class: :button
