%p#notice= notice
%h1.title Locations

#locations.columns.is-multiline
  - @locations.each do |location|
    .column.is-one-third
      .card
        %header.card-header
          %p.card-header-title.is-centered
            = location.name
        - if location.images.present?
          .card-image
            %figure.image.is-4by3
              = image_tag location.images.first.variant(resize: '160x120').processed
        - else
          .card-image
            %figure.image.is-4by3
              = image_tag '', placeholder: 'none yet'
        .card-content
          .content
            %h5
              = location.devices.count
              devices
            - location.devices.each do |device|
              = device.name
            %br
            = link_to 'Add device', new_device_path(location_id: location.id), class: :button
        .card-footer
          = link_to 'Edit', edit_location_path(location), class: 'card-footer-item'
          = link_to 'Show', location, class: 'card-footer-item'
          = link_to 'Add device', new_device_path(location_id: location.id), class: 'card-footer-item'
          = link_to 'Delete', location, method: :delete, data: {confirm: 'Are you sure?'}, class: 'has-text-danger card-footer-item'

= link_to 'New Location', new_location_path, class: :button
