.level
  .level-left
    %h1.title
      %i.fa.fa-map-marker
      Location
      = @location.name
  .level-right
    = link_to edit_location_path(@location), class: 'button level-item' do
      %span.icon
        %i.fa.fa-edit
      =t('edit')


- if @location.images.present?
  %section
    %h2.subtitle
      %i.fa.fa-image
      = @location.images.count
      - if @location.images.count == 1
        Image
      - else
        Images
    .columns.is-multiline
      - @location.images.each do |image|
        .column.is-narrow
          = link_to url_for(image), target: '_new' do
            %figure.image
              = image_tag image.variant(resize_to_fill: [180,120]).processed, class: 'has-rounded-corners is-hoverable'
    -#= link_to 'Add image', ''
  %br

%section
  %h2.subtitle
    %span.icon
      %i.fa.fa-server
    = @location.devices.count
    = Device.model_name.human(count: @location.devices.count).capitalize
    at this location
  
  .columns.is-multiline
    - @location.devices.find_each do |device|
      .column.is-3
        .card
          %header.card-header
            %p.card-header-title.is-centered
              = link_to device do
                %i.fa.fa-hdd
                = device.human_identifier
          .card-content
            .content
              - if device.manufacturer.present?
                .manufacturer
                  = device.manufacturer
              - if device.model.present?
                .model
                  = device.model
              - if device.kind.present?
                %small.kind
                  (#{device.kind})
              = device.links.count
              links
              - if device.num_links
                (of #{device.num_links})
          .card-footer
            = link_to 'Edit', edit_device_path(device), class: 'card-footer-item is-6'
    .column.is-3
      .card
        %header.card-header
          %p.card-header-title.is-centered
            %span.icon
              %i.fa.fa-hdd
            = t('new device')
        .card-content
          .content
            = link_to 'add device at this location', new_device_path(location: @location), class: 'button is-primary'

- if @location.links.present?
  %br
  %h2.subtitle
    %i.fa.fa-network-wired
    #{@location.links.count} Direct incoming Links
  = render partial: 'connections/table', locals: {connections: @connected_location.connections}

%br
.level
  .level-left
    = link_to edit_location_path(@location), class: 'button level-item' do
      %span.icon
        %i.fa.fa-edit
      =t('edit')
  .level-right
    = link_to @location, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' do
      %span.icon
        %i.fa.fa-times
      =t('destroy')
-#= link_to 'Back', locations_path
    = link_to edit_location_path(@location), class: 'button is-warning level-item' do
      %span.icon
        %i.fa.fa-trash
      =t('destroy')
