%p#notice= notice
%p
  %strong Name:
  = @location.name
%h2 #{@location.devices.count} Devices at this location:
- @location.devices.find_each do |device|
  = link_to device.name, device
  %small
    (#{device.kind})
  %br
= link_to 'Edit', edit_location_path(@location)
|
= link_to 'Back', locations_path
