!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1"}/
    %title Cabler
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render "navbar"
    %section.section#main
      - flash.each do |type, message|
        .notification{ :class => bulma_flash_class[type] || 'is-primary'}
          %button.delete
          - case type
          - when 'error'
            %span.icon
              %i.fa.fa-warning
          - when 'alert'
            %span.icon.has-text-danger
              %i.fa.fa-warning
          - when 'notice'
            %span.icon
              %i.fa.fa-info-circle
          - when 'info'
            %span.icon.has-text-notice
              %i.fa.fa-info-circle
          - when 'success'
            %span.icon.has-text-warning
              %i.fa.fa-check-square
          - else
            -# no icon

          = message

      .container
        = yield
